<!--View Information-->
<!--View name : Cube Feed-->
<!--State name : app.cubeFeed-->
<!--URL : #app/cubeFeed-->

<ion-view title="CONTACTOS">
    <!--cube feed section-->
    <ion-content id="cube-feed-content" ng-controller="contactCtrl" class="events-bg">
        <!--cube feed list section-->
        <div class="feed-list row">
            <div class="col">
                <!--cube feed item section-->
                <div ng-repeat="contact in contacts" class="feed-item">
                   <div class="feed-content row">
                  <div class="col left" style="margin:5px;padding:5px;">
                  <span><h3>{{contact.get("card").get("name")}}</h3> </span>
                  <span>{{contact.get("card").get("job")}}</span> <br>
                 
                  {{contact.get("card").get("description")}}
                </div>
              <div class="col right"><img ng-src='{{contact.get("card").get("image")}}' class="user-img" style="max-width: 100%;border-radius: 50%;min-height: 50px; width: 62px; height: 62px;margin-bottom: 2px;"/>


                </div></div>


                
                    <div class="feed-content row">
                        <div class="col left">
                         <span> <i class="ion-android-home" style="font-size:2em;"></i>
                        {{contact.get("card").get("business")}}
                  </span>
                        </div>
                        <div class="col right">
                        <div style="text-align:right">   

 <a  ng-controller="contactCtrl" ng-click='sentEmail($index)' aria-label="Add" style="z-index:9999" tabindex="0">
        <i class="ion-ios-email" style="font-size:2em;"></i>
    </a>
    &nbsp;&nbsp;
     <a  ng-controller="contactCtrl" ng-click='sentSms($index)' aria-label="Add" style="z-index:9999" tabindex="0">
        <i class="ion-android-textsms" style="font-size:2em;"></i>
    </a>
    &nbsp;&nbsp;
         <a  ng-controller="contactCtrl" ng-click='callTo($index)' aria-label="Add" style="z-index:9999" tabindex="0">
        <i class="ion-ios-telephone" style="font-size:2em;"></i>
    </a>
&nbsp;&nbsp;
&nbsp;&nbsp;
&nbsp;
&nbsp;   <a ng-click="delete(contact.id)" aria-label="Add" style="z-index:9999" tabindex="0">
       <i class="ion-android-remove-circle" style="font-size:2em;"></i>
    </a>
    </div>
                        </div>
                    </div>
                </div>
                <!--end cube feed item section-->
            </div>
         


        </div><!--end cube feed list section-->


    <br><br>

    </ion-content><!--end cube feed section-->
</ion-view>